# Inputs and Flow Control Conditions

## Understanding Data Types in Python

In [ ]:
# There are basically three types of data we can work with in Python

# 1: Integers (int): Examples are -3, 0, 5, 17, 34, 100
# 2: Floats (float): Examples are 3.142, 3.5, 7.25, 10.75
# 3. Strings (str): They are texts like "Tola", "Doyin", "Elizabeth", "School"
# ONLY INTEGERS AND FLOATS CAN BE USED FOR REAL ARITHMETIC OPERATIONS
# YOU CAN ONLY USE PLUS (+) FOR STRINGS FOR JOINING TEXTS and (*) for duplication

In [1]:
# Addding Integers in Python
var1: int = 26
var2: int = 38
total = var1 + var2

In [2]:
# Various Ways of Printing Output Result in Python

In [3]:
print("The sum of the integers =",total)

The sum of the integers = 64

In [4]:
print('The sum of the integers = '+str(total))

The sum of the integers = 64

In [5]:
print(F"The sum of the integers = {total}")

The sum of the integers = 64

In [6]:
# converting data into Integers in Python
var1 = int(26.5) # It will truncate the .5 part of it var1 = 26
var2 = int(38.5) # var2 = 38
total = var1 + var2
print("The sum of the integers =",total)

The sum of the integers = 64

In [7]:
# Addding Floats in Python
var1 = 26.75
var2 = 38
total = var1 + var2
print("The sum =",total)

The sum = 64.75

In [8]:
# converting data into Floats in Python
var1: float = float(36) # It will add .0 to 26 to make it 36.0
var2: float = float(38) # var2 = 38.0
total = var1 + var2
print("The sum of the Floats =",total)

The sum of the Floats = 74.0

In [9]:
# Addding Strings in Python
var1 = str(5) # That is another way to convert a number to a text in python
var2 = str(8)
total = var1 + var2
print("The sum of the Strings =",total)

The sum of the Strings = 58

# Accepting user inputs in Python

In [10]:
num1: int
num1 = input()

 45

In [11]:
print(num1)

45

In [12]:
type(num1) # any value from an input() function is a string (str)

str

In [ ]:
# Better way to accept input like an integer

In [13]:
num2: int
num2 = input("Type the value of any integer: ")
num2 = int(num2) # very essential you convert it to the data type you want

Type the value of any integer:  45

In [14]:
print(f"The value of your integer is {num2}, and it is type: {type(num2)}")

The value of your integer is 45, and it is type: <class 'int'>

In [15]:
# The input function is used in python to accept typed text or numbers
# The input is ALWAYS interpreted as text (String). for example:

firstname = input("What is your first name?:") #The text in the quotation marks is called "prompt"
surname = input("Whas is your surname?:")
fullname = firstname + surname
print(f'Hello CHM student, Your full name is: {fullname}')

What is your first name?: Sam
Whas is your surname?: Joe

Hello CHM student, Your full name is: SamJoe

In [16]:
# You can add a space using the format (" ") in between text variables 
firstname = input("What is your first name?:")
surname = input("Whas is your surname?:")
fullname = firstname + " " + surname
print("Hello CHMK student, Your full name is:",fullname)

What is your first name?: Sam
Whas is your surname?: Joe

Hello CHMK student, Your full name is: Sam Joe

In [17]:
# When asking for numbers, you MUST convert it or else arithmetic operation will join (add) the text together
num1 = input("Enter any number?")
num2 = input("Enter another number?")
total = num1 + num2
print("Adding numbers without conversion will give:",total)

Enter any number? 45
Enter another number? 7

Adding numbers without conversion will give: 457

In [18]:
type(num1)

str

In [19]:
# When asking for numbers, you MUST convert it or else arithmetic operation will join (add) the text together
num1 = input("Enter any number?")
num2 = input("Enter another number?")

conv1 = int(num1)  # It is used to convert the text input into an Integer
conv2 = int(num2)

total = conv1 + conv2
print("Adding numbers after conversion will give:",total)

Enter any number? 45
Enter another number? 7

Adding numbers after conversion will give: 52

In [20]:
# Printing the name and age of a student
name = input("What is your name ?")
year_of_birth = input("Which year where you born?")
dob_num = int(year_of_birth)
age = 2023 - dob_num
message = "Hello" + name + ","+ "you will be" + str(age) + "years old in the year 2023"
print(message)

What is your name ? Sam
Which year where you born? 1990

HelloSam,you will be33years old in the year 2022

In [21]:
# Printing the name and age of a student and adding the space in between the text
name = input("What is your name ?")
year = input("Which year where you born?")
age = 2023 - int(year)
message = "Hello " + name + ", you will be " + str(age) + " years old in the year 2023"
print("\n") # Printing an empty line before printing our message
print(message)

What is your name ? Sam
Which year where you born? 1990

Hello Sam, you will be 33 years old in the year 2023

In [22]:
# Printing the name and age of a student and adding the space in between the text
name = input("What is your name ?: ")
year = input("Which year where you born?: ")
age = 2023 - int(year)
message = f"Hello {name}, you will be {age} years old in the year 2023"
print("\n") # Printing an empty line before printing our message
print(message)

What is your name ?:  Sam
Which year where you born?:  1990

Hello Sam, you will be 33 years old in the year 2023

## Flow Control in Python using the if, elif and else statements

In [ ]:
# if is used to perform an operation if the the condition is true
# elif is a shorten form of else-if, for testing a different condition
# else is executed if either the above if or elif condition is not true

In [ ]:
# Valid Comparism operators
# '>' That is greater than operator
# '<' That is less than operator
# '>=' That is greater than or equal to 
# '<=' That is less than or equal to
# '==" That  is equal
# '!=" That is not equal

In [25]:
print(f' 5 is greater than 2: {5 > 2}')
print(f' 7 is less than 5: {7 < 5}')
print(F" 8 is greater than or equal to 15: {8 >= 15}")
print(F' 3 is less than or equal to 6: {3 >= 6}')
print(f" 7 is equal to 8: {7 == 8}")
print(f' 7 is  not equal to 8: {7 != 8}')

 5 is greater than 2: True
 7 is less than 5: False
 8 is greater than or equal to 15: False
 3 is less than or equal to 6: False
 7 is equal to 8: False
 7 is  not equal to 8: True

In [ ]:
# Invalid Comparism operators and will cause syntax error
# =>, =<, =!

In [26]:
# Examples of using condition operator in programming
age_john = 13
age_sam = 15

In [27]:
age_sam != 13

True

In [32]:
# Using the 'if' Statement
# Determining if a student is a teenager or not

name = input("What is your name?:")
age = input("What is your current age?:")
age = int(age)
print("\n")
if(age >= 13 and age <= 19):
    print(f"Hello {name}, you are a teenager")

What is your name?: 24
What is your current age?: 25

In [34]:
# Using the 'if-elif' Statement
# Determining if a student is a teenager or not

number: int
number = input("Input any number: ")
number = int(number)

if(number % 2 == 0):
    print(f'The number {number} is an even number')
else:
    print(f'The number {number} is an odd number')

Input any number:  15

The number 15 is an odd number

In [35]:
number = input("Input any number: ")
number = int(number)

text = 'even' if number % 2 == 0 else "odd"

print(f"The number {number} is {text}.")

Input any number:  22

The number 22 is even.

## Classwork

In [ ]:
#Class work 1

# You are given a job as an Administrator for CHM Platform and you are to prepare the 
# admission list of the students based on the following information:
# Collect their Firstname, Surname, and age using the input function. 
# Then put them in classes based on their age,  9 to 14 => "Favour Class",  
# 15 to 70 => "Knowledge Class", passed knowledge and interview => "Wisdom Class",

In [ ]:
# Version 1: Beginners

first_name = input("What is your first name?:")
surname = input("What is your surname?:")

age = input("What is your age?:")
age = int(age)
passed_knowledge = input("Did you offer and pass knowledge class?(yes or no): ")
attend_interview = input("Did you attend the wisdom class interview?(yes or no): ")

if(age >= 9 and age <= 14):
    your_class = "Favour"
elif(age >= 17 and age <= 70): # elif simply means else if
    your_class = 'Knowledge'
elif(age>= 16 and passed_knowledge == 'yes' and attend_interview == "yes"):
    your_class = 'Wisdom'
else:
    your_class = 'Not Qualified'
    
print('\n')
print(f'Hello {first_name} {surname}, you are admitted into the {your_class} class')

In [ ]:
# Version 2: Professional
first_name: str
surname: str
age: int
wisdom_qualified: bool

full_name = input("What is your full name?: ")
age = int(input("What is your age?: "))    
question1 = input("Did you complete the knowledge class?(yes or no): ")
if (question1.lower == 'yes'):
    wisdom_qualified = True
else:
    wisdom_qualified = False
print('\n')
if(age < 9 or age > 70):
    print(f'Good day {full_name},')
    print(f'We are sorry, you are not Qualified')
elif(wisdom_qualified):
    your_class = "Wisdom class"
    print(f'Good day {full_name},')
    print(f'you are qualified apply for the {your_class}')
elif(age >= 15 and age <= 70):
    your_class = 'Knowledge class'
    print(f'Good day {full_name},')
    print(f'you are qualified apply for the {your_class}')
else:
    your_class = 'Favour class'
    print(f'Good day {full_name},')
    print(f'you are qualified apply for the {your_class}')

In [ ]:
# Understanding the for loop

In [36]:
#start = 0
stop = 6

for num in range(stop): #start: 0, stop 6-1 = 5
    print(num)

0
1
2
3
4
5

In [37]:
# Stating the start and stop criteria
start = 1
stop = 11

for num in range(start, stop): #start: 1, stop 11-1 = 10
    print(num)

1
2
3
4
5
6
7
8
9
10

In [38]:
# Stating the start, stop, and steps criteria
start = 2
stop = 20
step = 2

for num in range(start,stop+1,step): 
    print(num)

2
4
6
8
10
12
14
16
18
20

In [39]:
# Stating the start, stop, and steps criteria
start = 1
stop = 20
step = 2

for num in range(start,stop+1,step): 
    print(num)

1
3
5
7
9
11
13
15
17
19

In [40]:
# Implementing the summation using for loop
start = 1
stop = 10
# steps = 1
my_sum = 0 # Initialization for addition

print("Loop","\t","my_sum")
#Beginning of loop
for numbers in range(start,(stop+1)):
    my_sum = my_sum + numbers
    print(numbers,"\t", my_sum)
#End of loop    

print("The sum of numbers between 1 and 10 is: "+str(my_sum))

Loop 	 my_sum
1 	 1
2 	 3
3 	 6
4 	 10
5 	 15
6 	 21
7 	 28
8 	 36
9 	 45
10 	 55
The sum of numbers between 1 and 10 is: 55

In [41]:
# Implementing the summation of even numbers using for loop
start = 2
stop = 10
steps = 2
my_sum = 0 # Initialization for addition

#Beginning of loop
for numbers in range(start,(stop+1),steps):
    my_sum = my_sum + numbers   

print("The sum of even numbers between 1 and 10 is: "+str(my_sum))

The sum of even numbers between 1 and 10 is: 30

In [ ]:
#The while loop
#The while always executes as long as the condition is true.
# PLEASE ALWAYS PUT A CONDITION THAT CHANGES AND BECOMES FALSE AFTER A TIME

In [42]:
# Counting the first ten positive integer using while else
start = 1
stop = 10

while(start <= stop):
    print(start)
    start = start + 1 # CONDITION TO MAKE IT FALSE AFTER SOMETIMES

1
2
3
4
5
6
7
8
9
10

In [43]:
# Counting the even positive integers between 1 and 10 using while else
start = 2
stop = 10
steps = 2

while(start <= stop):
    print(start)
    start = start + steps # CONDITION TO MAKE IT FALSE AFTER SOMETIMES

2
4
6
8
10

In [44]:
# Implementing the summation using while loop
numbers = 1
stop = 10
steps = 1
my_sum2 = 0 # Initialization for addition

#Beginning of loop
while(numbers <= stop): # numbers must increment above stop to break the loop
    my_sum2 = my_sum2 + numbers
    numbers += steps # same as (numbers = numbers + steps)
#End of loop    
print("Last value of numbers is:", numbers)
print()        

print("The sum of numbers between 1 and 10 is: "+str(my_sum2))

Last value of numbers is: 11

The sum of numbers between 1 and 10 is: 55

In [45]:
# Method 2 of Implementing the summation using while loop
numbers = 1
steps = 1
stop = 10
my_sum3 = 0 # Initialization for addition

#Beginning of while loop
while(True):
    my_sum3 = my_sum3 + numbers
    numbers += steps # same as (numbers = numbers + steps)
    if(numbers > stop): # Declare your stop criteria to break the loop
        print(f"{numbers} is more than 10, breaking out of the loop")
        break
        
#End of while loop    
print("The sum of numbers between 1 and "+str(numbers-steps)+" is: "+str(my_sum3))

11 is more than 10, breaking out of the loop
The sum of numbers between 1 and 10 is: 55

In [ ]:
# Deadline for Submission

In [ ]:
# Assignment 1

""" You are given a job as an Administrator for CHMK Platform and you are to prepare the 
certificate of the students based on the following information:
Collect their Firstname, Surname, and Scores using the input function. 
Then grade them using these score ranges 100-70 as "Excellent", 60-69 as "Very Good", 
50-59 as "Good", 40-49 as "Pass" using if, elif and else statement """

In [ ]:
# Assignment 2
# Sum all the even numbers between 1 and 100 using for loop

In [ ]:
# Assignment 3
# Sum all the odd numbers between 1 and 100 using each of the two versions of while loop